<div class="container" style="margin-top: 5%">
  <div class="row">
    <h2>University of Applied Sciences Berlin</h2>
  </div>
  <div class="row" style="margin-bottom: 5%">
    <div class="col">
      <div class="text-start">
        <h3 style="font-weight: lighter"><i>Bachelor of Science: Business Computing; 4th term</i></h3>
      </div>
      <div class="border-top border-black border-2">
        <h3>Berlin, Germany</h3>
      </div>
      <br>
      <div class="row">
        <div class="col col-4">
          <div>
            <h4 style="font-weight: lighter">Current grade:</h4>
          </div>
          <div>
            <h4 style="font-weight: lighter">Awards:</h4>
          </div>
        </div>
        <div class="col text-end">
          <div>
            <h4 style="font-weight: lighter">1.2 (DE)</h4>
          </div>
          <div>
            <h4 style="font-weight: lighter">Digital Future Challenge #4 - Finalist</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-end">
        <h3 style="font-weight: lighter">October '22 - September '25</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Max-Planck-Gymnasium</h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-start">
        <h3 style="font-weight: lighter"><i>Abitur</i></h3>
      </div>
      <div class="border-top border-black border-2">
        <h3>Berlin, Germany</h3>
      </div>
      <br>
      <div class="row">
        <div class="col col-4">
          <div>
            <h4 style="font-weight: lighter">Final grade:</h4>
          </div>
          <div>
            <h4 style="font-weight: lighter">Advanced courses:</h4>
          </div>
          <div>
            <h4 style="font-weight: lighter">Awards:</h4>
          </div>
        </div>
        <div class="col text-end">
          <div>
            <h4 style="font-weight: lighter">1.8 (DE)</h4>
          </div>
          <div>
            <h4 style="font-weight: lighter;;">Physics | English</h4>
          </div>
          <div>
            <h4 style="font-weight: lighter">DPG-Award 2023</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-end">
        <h3 style="font-weight: lighter">August '16 - Juni '22</h3>
      </div>
    </div>
  </div>
</div>
