<div class="container mt-5">
  <div class="text-end" style="color: lawngreen">
    <h3>currently</h3>
  </div>
  <div class="row mb-5 current-border">
    <div class="col">
      <div class="text-start" style="margin-bottom: 3%">
        <h2>]Init[ AG <span style="font-weight: lighter">in Berlin</span></h2>
      </div>
      <div class="border-top border-black border-2">
        <div style="margin-top: 3%">
          <h3 style="font-weight: lighter"><i>Software Developer - Internship</i></h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-end">
        <h3 style="font-weight: lighter">June '24 - September '24</h3>
      </div>
    </div>
  </div>
  <div class="row mb-5 past-border">
    <div class="col">
      <div class="text-start" style="margin-bottom: 3%">
        <h2>Wolt Enterprises Germany <span style="font-weight: lighter">in Berlin</span></h2>
      </div>
      <div class="border-top border-black border-2">
        <div style="margin-top: 3%">
          <h3 style="font-weight: lighter"><i>Inside Sales - Work Study</i></h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-end">
        <h3 style="font-weight: lighter">October '23 - May '24</h3>
      </div>
    </div>
  </div>
  <div class="row mb-5 past-border">
    <div class="col">
      <div class="text-start" style="margin-bottom: 3%">
        <h2>Aldi Nord <span style="font-weight: lighter">in Berlin</span></h2>
      </div>
      <div class="border-top border-black border-2">
        <div style="margin-top: 3%">
          <h3 style="font-weight: lighter"><i>Vendor - Work Study</i></h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-end">
        <h3 style="font-weight: lighter">Aug '22 - Dec '22</h3>
      </div>
    </div>
  </div>
  <div class="row mb-5 past-border">
    <div class="col">
      <div class="text-start" style="margin-bottom: 3%">
        <h2>Mercedes Benz <span style="font-weight: lighter">in Berlin</span></h2>
      </div>
      <div class="border-top border-black border-2">
        <div style="margin-top: 3%">
          <h3 style="font-weight: lighter"><i>Internship</i></h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-end">
        <h3 style="font-weight: lighter">June '19</h3>
      </div>
    </div>
  </div>
</div>

