<div class="container mt-5">
  <div class="text-start">
    <h2>Languages</h2>
  </div>
  <div class="row border-style mb-5">
    <div class="col">
      <h3 style="font-weight: lighter">German (native)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">English (fluent)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">Turkish (native)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">French (intermediate)</h3>
    </div>
  </div>
  <div class="text-start">
    <h2>Skills</h2>
  </div>
  <div class="row mb-5 split-border">
    <div class="col">
      <h3 style="font-weight: lighter">Business</h3>
      <br>
      <div class="row">
        <h3 style="font-weight: lighter">Management • Accounting • Controlling •</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Investment and financing planning •
        </h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">IT-Consulting • Business strategy</h3>
      </div>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">IT</h3>
      <br>
      <div class="row">
        <h3 style="font-weight: lighter"> </h3>
      </div>
    </div>
  </div>
</div>
