<div class="container mt-5">
  <div class="text-start">
    <h3>Languages</h3>
  </div>
  <div class="row border-style mb-5">
    <div class="col">
      <h3 style="font-weight: lighter">German (native)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">English (fluent)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">Turkish (native)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">French (intermediate)</h3>
    </div>
  </div>
  <div class="text-start">
    <h3>IT-Skills</h3>
  </div>
  <div class="row border-style mb-5">

  </div>
</div>
