<div class="container mt-5">
  <div class="text-start">
    <h2>Languages</h2>
  </div>
  <div class="row border-style mb-5">
    <div class="col">
      <h3 style="font-weight: lighter">German (native)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">English (fluent)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">Turkish (native)</h3>
    </div>
    <div class="col">
      <h3 style="font-weight: lighter">French (intermediate)</h3>
    </div>
  </div>
  <div class="text-start">
    <h2>Skills</h2>
  </div>
  <div class="row mb-5 split-border">
    <div class="col">
      <div class="border-bottom border-black mb-3">
        <h3 style="font-weight: lighter">Business</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Management • Accounting • Controlling •</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Investment and financing planning • IT-consulting •</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Business strategy • Ressource management •</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Risk management</h3>
      </div>
    </div>
    <div class="col" style="margin-left: 2%">
      <div class="border-bottom border-black mb-3">
        <h3 style="font-weight: lighter">IT</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Statistics • Git • Databases and data structures •</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Data analysis (R) • BPMN • MS Excel •</h3>
      </div>
      <div class="row mb-3">
        <h3 style="font-weight: lighter">MS PowerPoint • SAP S/4HANA • Docker</h3>
      </div>
      <div class="border-bottom border-black mb-3">
        <h3 style="font-weight: lighter">Backend</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Java • Spring Boot • PostgresSQL • REST API •</h3>
      </div>
      <div class="row mb-3">
        <h3 style="font-weight: lighter">JDBC • SQL & PL/SQL • Liquibase</h3>
      </div>
      <div class="border-bottom border-black mb-3">
        <h3 style="font-weight: lighter">Frontend</h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Javascript • HTML • CSS • Vue.js • Angular • </h3>
      </div>
      <div class="row">
        <h3 style="font-weight: lighter">Node.js • Dart • Flutter</h3>
      </div>
    </div>
  </div>
</div>
