<div class="text-center mt-5">
  <p>
    Hello and Welcome to my Portfolio page :). <br>
    My name is Sidar Dalli and if you visit this page, you are probably trying to find out more about me and my professional experience. <br>
    So let me introduce myself first: <br>

    I am currently pursuing a Bachelors Degree in Business Computing at the University of Applied Sciences in Berlin. <br>
    I have reached the 4th term and so far I was given the opportunity to work on several Projects, <br>
    learn about the structure and processes of Businesses and many more. <br>
    This knowledge also made it possible for me to create this website about me.
  </p>
</div>
