<div class="container">
  <p class="about-text" style="text-align: justify">
    Hello and Welcome to my Portfolio page :) <br>
    My name is Sidar Dalli and if you visit this page, you are probably trying to find out more about me and my professional experience.
    <br>
    <br>
    <span style="font-weight: bold">So let me introduce myself first:</span>
    <br>

    I am currently pursuing a Bachelors Degree in Business Computing at the University of Applied Sciences in Berlin.
    I have reached the 4th term and so far I was given the opportunity to work on several Projects,
    learn about the structure and processes of Businesses and many more.
    <br>
    Currently, I am an intern software developer at ]Init[ AG, where I am creating a data-analytics tool to support the developers.
    This knowledge also made it possible for me to create this website <span style="font-weight: bold">About Me</span>.
  </p>
</div>
