<div class="container">
  <div class="row split-border">
    <div class="col image-col">
      <img src="assets/images/picture.jpg" alt="Me" style="width: 100%; height: auto">
    </div>
    <div class="col text-col">
      <p class="about-text" style="text-align: justify">
        Hello and Welcome to my portfolio!<br>
        My name is Sidar Dalli and I am exited to share my career journey and achievements with you.
        <br>
        This website serves as a showcase of my professional experience, skills and accomplishments.
        <br>
        <br>
        <span style="font-weight: bold">So let me introduce myself first:</span>
        <br>
        I am currently pursuing a Bachelors Degree in Business Computing at the University of Applied Sciences in Berlin.
        In relation to this, my expertise lies in Software Engineering, Business Automation and Business consulting.
        <br>
        Currently, I am an intern in software development at ]Init[ AG, where I am learning to work in projects and create applications.
        This knowledge also made it possible for me to create this website <span style="font-weight: bold">About Me</span>.
        <br>
        <br>
        <span style="font-weight: bold">Career Highlights</span>
        <br>
        Throughout my career, I have had the opportunity to work on a variety of projects, both during my work-life and my life as a student.
        <br>
        <br>
        Some of my achievements include:
        <li class="text-start">PettyPantry: An Web-Application that reminds users of their expiring groceries inside their fridge and creates a recipe with them using an AI API.</li>
        <li class="text-start">Expansion Projects (Sales): Directly assisted in signing over 50 partners in expanding cities.</li>
        <li class="text-start">AGIS: A analytics tool that helps users find communities in germany using their ARS (Amtlicher Gemeindenschlüssel).</li>
        <br>
        <span style="font-weight: bold">Contact</span>
        <br>
        If you are interested in learning more about my professional background or would like to discuss potential opportunities, feel free to contact me over <a href="https://www.linkedin.com/in/sidar-dalli-2a6b5b26a/" target="_blank">my Linkedin</a>.
      </p>
    </div>
  </div>
</div>
